
@import 'reset.scss';
@import 'color.scss';
@import 'mixin.scss';
@import 'form.scss';
@import 'github-markdown.scss';
@import 'comment.scss';
@import 'ticket.scss';
@import 'vue-mention.scss';
@import 'tab.scss';
@import 'ticket-list.scss';
@import 'opinion-list.scss';
@import 'project-list.scss';
@import 'header.scss';

body{
  background-color: $background-color;
  color: $main-text-color;
}

div::after{
  clear:both;
  display:block;
  content:'';
}

.wrapper{
  box-sizing: border-box;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}

.contents{
  max-width: 1260px;
  margin: 0 auto;
}

a{
  &:hover{
    text-decoration: underline;
  }
}