
@import 'reset.scss';
@import 'mixin.scss';
@import 'form.scss';

body{
  background-color: $background-color;
  color: $main-text-color;
}

div::after{
  clear:both;
  display:block;
  content:'';
}


.tab-header{
  border-bottom: 1px solid #ddd;
  height: 40px;
  .tab{
    float: left;
    border: solid 1px #ddd;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    margin-left: 4px;
    &.active{
      border-bottom: white solid 1px;
    }
  }
}