/* color scheme*/
$background-color: #fff;
$main-text-color: #222;
$sub-text-color: #444;

$main-color: pink;
$sub-color: blue;
$accent-color: red;

$keep: green;
$problem: red;
$try: blue;

$failure : red;
$info: aqua;
$succeed: lime;