
.field{
  max-width: 400px;
  margin: 0 auto;
}

dl{
  dt{
    line-height: $line-base;
    small{
      font-size: 80%;
      font-weight: normal;
      color: #444;
      margin-left: 1em;
    }
  }
  dd{
    line-height: $line-base;
    margin-bottom: $line-base * .5;
  }
}

input[type="text"], input[type="url"], input[type="email"], input[type="password"], textarea{
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-size: 1em;
  padding: 0px 1em;
  box-shadow: 0 0 2px 0px rgb(0 0 0 / 40%) inset;
  &:not(:first-of-type){
    margin-top: $line-base * .5;
  }
}

textarea{
  height: 5em;
}

.btn-primary{
  @include button($accent-color);
  &:disabled{
    background-color: #ddd;
    color: #999;
  }
}

.toggle_radio{
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 4px;
  display: inline-flex;
  overflow: hidden;
  input[type='radio']{
    display: none;
    &:checked + label{
      background-color: rgba(0,0,0,.05);
      &.keep_on{
        background-color: $keep;
        color: white;
      }
      &.problem{
        background-color: $problem;
        color: white;
      }
      &.try_to{
        background-color: $try;
        color: white;
      }
    }
  }
  label{
    padding: 0px 12px;
    box-sizing: border-box;
    line-height: 2em;
    height: 100%;
    &:not(:first-of-type){
      border-left: rgba(0, 0, 0, 0.1) solid 1px;
    }
  }
}

.fetch_url{
  background-color: $ticket-header-color;
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 24px 48px;
}