header{
  background-color: #F5DF4D;
  .search-form{
    width: fit-content;
    position: relative;
    display: inline-block;
    input[type="search"]{
      position: relative;
      background-color: white;
      height: 2em;
      border-radius: 4px;
      box-shadow: 0 0 2px 0px rgba(0,0,0,.4) inset;
      padding-left: 32px;
    }
    .watermark{
      position: absolute;
      top: 8px;
      left: 8px;
      color: #626262;
    }
  }
  .nav-menu{
    display: inline-block;
    li{
      float: left;
      list-style-type: none;
      &:hover{
        font-weight: bold;
      }
    }
  }
}