.ticket{
  border-radius: 4px;
  border: 1px solid #e1e4e8;
  .ticket-header{
    background-color: $accent-color;
    border-bottom: 1px solid #e1e4e8;
    height: 35px;
  }
  .ticket-body{

  }
  .ticket-footer{

  }
}