<div class="notice"></div>

<section>
  <h2>新着</h2>
  <div>
    <ul>
      <li></li>
    </ul>
  </div>
</section>

<section>
<div>
    <!-- teratailのあれとかあるいはgithub-readme-statusとかのあの感じ -->
  <div>
    <h3>スコア</h3>
  </div>
</div>
</section>

<section>
  <div>
    <h3>Myタグ</h3>
  </div>
</section>