<div class="sidebar">
  <ul class="sidebar__search-type-list">
    <li class="sidebar__search-type-list__item">
      <span class="sidebar__search-type-list__item__badge">Keep</span>
    </li>
    <li class="sidebar__search-type-list__item">
      <span class="sidebar__search-type-list__item__badge">Problem</span>
    </li>
    <li class="sidebar__search-type-list__item">
      <span class="sidebar__search-type-list__item__badge">Try</span>
    </li>
    <li class="sidebar__search-type-list__item">
      <span class="sidebar__search-type-list__item__badge">コメント</span>
    </li>
  </ul>
</div>
<div class="result">
  <ul class="result__list">
    <li class="result__list__item">
      <span class="result__list__item__project-name"></span>
      <span class="result__list__item__body">合致した文字列の前後何文字ずつを表示とかやったの何のときでしたっけね</span>
    </li>
  </ul>
</div>